html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html, 
body {
	width: 100%;
	height: 100%; 
	padding: 0;
	margin: 0;
}

body {
	background-image: url("../images/geometry2.png"); 
	font-family: 'Handlee', cursive; 	
}

.container {
	display: flex;
	justify-content: center; 
	align-items: center; 
	flex-direction: column; 
}

.container1.hidden {
	visibility: hidden;
}

h1 {
	text-align: center; 
	font-weight: 600;  
	margin-top: 5px; 
	margin-bottom: 0px;   
}

/*
 * Styles for the score-panel
 */ 
 .score-panel {
 	margin-top: -10px; 
 	margin-bottom: -5px; 
 	text-align: center; 
 	font-weight: 600; 
 }

.score-panel .stars {
	margin: 0 5px 0 0;
	padding: 0;
	color: #ccff33;
	display: inline-block; 
	
}

.score-panel .stars li {
	display: inline-block; 
	list-style: none; 
}

.score-panel p {
	display: inline-block;
}

.score-panel .timer {
	display: inline-block;
	margin-left: 3rem; 
}

.restart {
	display: inline-block; 
	margin-left: 3rem; 
	cursor: pointer; 
}

/*
 * Styles for deck 
 */ 

.deck {
	width: 660px; 
	min-height: 680px;
	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	padding: 32px;
	border-radius: 10px;
	list-style: none; 
	display: flex; 
	flex-wrap: wrap; 
	justify-content: space-between;
	align-items: center; 
	margin: 0 0 3em;
}

.deck .card {
	width: 125px;
	height: 125px;
	background: #2e3d49;
	color: #ffffff;
	font-size: 0px ;
	border-radius: 8px;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center; 
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    animation-name: flipInY; 
    -webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation-name: rubberBand;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .card.unmatched {
	animation-name: pulse;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
	background: #e2043b;
}

.deck .card.disabled {
	pointer-events: none;
	opacity: 0.9;
}


/* 
 * Styles for final-res
 */ 
 .container2 {
 	visibility: hidden; 
 	opacity: 0; 
 	position: fixed;
 	left: 160px;
 	top: 40px;
	text-align: center; 
 }

 .container2:target {
 	visibility: visible;
 	opacity: 1;
 }

 .container2 h2 {
 	font-size: 80px; 
 	margin-bottom: 0; 
 }

 .close {
 	position: absolute;
	top: 0px;
	right: 10px;
	transition: all 200ms;
	font-size: 60px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
 }

.close:hover {
	color: #E5F720;
}

 .text {
 	font-size: 40px;
 	margin-bottom: 0; 
 }

.show {
	visibility: visible !important;
	opacity: 100 !important;
	list-style: none;  
}

#star-rating li {
	display: inline-block; 
}

#play-again {
 	width: 160px;
 	height: 50px;
 	margin-top: 1em; 
 	margin-bottom: 2em; 
 	background:  #f4418c;
 	color: #1f1e23;
 	text-align: center; 
 	font-size: large; 
 	border-radius: 10px; 
 	box-shadow: 4px 4px 4px #85838c;
 }

 /* animations */
@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}


/* Media queries */
@media only screen and (max-width: 420px) {
	h1 {
		font-weight: 400;
	}
	.score-panel {
		font-size: small; 
	}
	
	.deck {
		width: 300px;
		height: 280px;
		padding: 10px;
	}

	.deck .card {
		height: 80px;
		width: 80px;
	}
}

@media only screen and (min-width: 421px) and (max-width: 600px) {
	h1 {
		font-size: 30px; 
	}

	.score-panel {
		font-size: 20px;  
	}

	.deck {
		width: 360px;
		height: 480px;
	}

	.deck .card {
		width: 80px;
		height: 80px; 
	}

	.deck .card {
		padding: 5px;
	}
}



